.footer .logo {
    width: 120px;
    float: left;
}

.footer .jumbotron {
    background-color: #E4F5ED;
}

.footer h1 {
    color: #00A859;
    font-size: 35px;
}

.footer h3 {
    color: #00A859;
    font-size: 25px;
}

.footer h6 {
    color: black;
}

.copyright {
    text-align: center;
    line-height: 30px;
    height: 30px;
    background-color: #00A859;
    color: #fff;
}