.footer .logo {
    width: 120px;
    float: left;
}

.footer .jumbotron {
    background-color: #E4F5ED;
}

.footer h1 {
    color: #00A859;
    font-size: 35px;
}

.footer h3 {
    color: #00A859;
    font-size: 25px;
}

.footer h6,
.footer .text .ind,
.footer .text p {
    color: #303030;
}

.footer a {
    text-decoration: none;
}

.footer h6:hover {
    color: #00A859;
}

.copyright {
    text-align: center;
    line-height: 60px;
    height: 60px;
    background-color: #00A859;
    color: #f5f5f5;
}

@media screen and (max-width:680px) {
    .footer .col-sm-4 {
        width: 50%;
    }

    .footer .about {
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .footer .logo {
        width: 100px;
    }
}