@import "navbar.css";
@import "banner.css";
@import "produk.css";
@import "galeri.css";
@import "kontak.css";
@import "footer.css";

* {
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #00A859;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* color */
.green {
    color: #00A859;
}

.scroll {
    width: 60px;
    z-index: 1000;
    position: fixed;
    bottom: 40px;
    right: 0;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 25px 0 0 25px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    color: #00A859;
}

.scroll i {
    font-size: 15px;
}

.scroll:hover {
    transition: 0.5s ease-in-out;
    width: 90px;
}